plugins/user/ZMachine/files/saves/*.sav
plugins/user/Plugin_ddracepro.php
plugins/user/Plugin_DDNetPeak.php
plugins/user/Plugin_Auth.php
plugins/user/Plugin_Reload.php
update_bot.sh
restart_bot.sh
nohup.out
nimda.log
